.btn-medium {
  background-color: rgba(0, 0, 0, 0.35);
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.modal {
  margin-top: 75px;
}

.table-pos {
  background-color: mintcream;
  margin-top: 20px;
  width: 100%;
  height: auto;
}

.table-data {
  color: #7121c5;
  background-color: #f5f5ff;
  border: 1px solid #dddddd;
  text-align: center;
  padding: 5px;
}

.ltGreen span {
  font-weight: 700;
  font-size: 14px;
  background-color: lightgreen;
  color: orangered;
}

.ltRed span {
  font-weight: 700;
  font-size: 14px;
  background-color: darkred;
  color: lawngreen;
}

.no-border-left {
  border-left: none;
}

.no-border-right {
  border-right: none;
}

.margin-top-50 {
  margin-top: 50px;
}